.App {
  text-align: center;
  font-size: 1.6rem;
}

.App h2 {
  font-size: 3rem;
  line-height: .6rem;
}

header {
  padding-bottom: .7em;
  background-color: black;
  color: aliceblue;
}

header img {
  height: 150px;
  width: 150px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.leftside{
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  width: 50%;
  height: 720px;
  color: aliceblue;

}

.leftside h3 {
  font-size: 1rem;
  line-height: .3rem;
}

.leftside p {
  font-size: 1.5rem;
}

.leftside span {
  color: plum;
}


.rightside {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top input {
  width: 60%;
  height: 2rem;
  margin-bottom: 2rem;
}