.App {
  text-align: center;
}

.App p {
  font-size: 1.5rem;
  line-height: .2rem;
  letter-spacing: .5rem;
}

.App h2 {
  font-size: 3rem;
  line-height: .6rem;
}

header {
  padding-bottom: .7em;
  background-color: black;
  color: aliceblue;
}

header img {
  height: 150px;
  width: 150px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.leftside{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 50%;
  height: 720px;
  color: aliceblue;

}

.leftside h3 {
  font-size: 1rem;
  line-height: .3rem;
}

.leftside img {
  height: 1.4rem;
  width: auto;
}

.leftside span {
  color: plum;
  letter-spacing: 0;
}


.rightside {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top input {
  width: 70%;
  height: 2rem;
  margin-bottom: 2rem;
}

.top button {
  background-color: rgb(22, 22, 22);
  color: aliceblue;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  height: 2.5rem;
  width: 30%;
}

.bottom {
  margin-top: 1rem;
}